_site/
.jekyll-cache/

# Latex auxiliary / intermediate files
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.dvi

# other
.DS_Store

# specific
_life/2026-08-19-kl-divergence.md
_life/2026-08-19-kl-divergence.assets