{% assign profile = site.data.profile %}

<footer class="footer">
    <div class="footer-inner">
        <div class="footer-left">
            <p class="footer-title" data-i18n="footer.title">
                {{ profile.name }} | <span class="font-kaiti">{{ profile.chinese_name }}</span>
            </p>
            <div class="footer-links">
                Follow Me:
                <a class="footer-link" href="{{ profile.github }}">
                    <i 
                    class="fa-brands fa-github"
                    ></i> Github
                </a>
            </div>
            <p class="footer-note" data-i18n="footer.note">
                Copyright 2026
            </p>
        </div>
        <div class="footer-right">
            <p class="quote">
                <span class="font-kaiti">{{ profile.quote.theme_star }}</span>
                
            </p>
        </div>   
            
    </div>
</footer>