{% assign profile = site.data.profile %}

<aside class="sidebar">
    <img src="/assets/images/avatar.jpg" class="avatar">
    
    <h2 class="name"> 
        {{ profile.name }} | <span class="chinese-name">{{ profile.chinese_name }}</span>
    </h2>
    
    <p class="bio">
        {{ profile.bio }}
    </p>

    <ul class="info">
        <li> 
            <i 
            class="fa-solid fa-magnifying-glass"
            style="color:var(--sidebar-interest);"
            ></i>
            {{ profile.interests }} 
        </li>
        <li> 
            <i 
            class="fa-solid fa-location-dot"
            style="color:var(--sidebar-location);"
            ></i>
            {{ profile.location }} 
        </li>
        <li> 
            <i 
            class="fa-solid fa-building-columns"
            style="color:var(--sidebar-university);"
            ></i>
            {{ profile.university }} 
        </li> 
        
        <li>
            <i 
            class="fa-solid fa-envelope"
            style="color:var(--sidebar-email);"
            ></i> {{ profile.email }}
        </li>
        
        <li>
            <a href="{{ profile.github }}">
                <i 
                class="fa-brands fa-github"
                style="color:var(--sidebar-github);"
                ></i> Github
            </a>
        </li>
        
        <li>
            <a href="{{ profile.google_scholar }}">
                <i class="fa-solid fa-graduation-cap"
                style="color:var(--sidebar-google-scholar)"
                ></i>
                Google Scholar: pending
            </a>
        </li>

        <li>
            <a href="{{ profile.rednote }}">
                <img
                src="https://www.xiaohongshu.com/favicon.ico"
                alt="Xiaohongshu logo"
                class="social-icon"
                >
                Rednote
            </a>
        </li>
    </ul>

</aside>