/* 星空主题 */

html, body {
    /* 背景图片 */
    background-image:
    url("/assets/images/backgroound_picture.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}