/* 纯白色主题 */
:root[data-theme="white"] {
    --color-text:         #333;
    --color-text-muted:   #666;
    --color-link:         #2a7ae2;
    --color-link-hover:   #1a5fcc;
    --color-heading:      #111;
    --color-card-title:   #2a7ae2;
    
    --color-footer:       #030d76;
    --footer-link-hover:  #3b82f6;
    --footer-quote:       #030d76;

    --navbar-bg:          linear-gradient(to right, #621EC3, #2D21E4);
    --navbar-font-color:  white;

    /* --sidebar-interest:   #2a9d8f;  */
    --sidebar-interest:   #ffd634; 
    --sidebar-location:   #e63946;
    --sidebar-university: #6a4c93;
    --sidebar-email:      #f4a261;
    --sidebar-github:     #333;
    --sidebar-google-scholar: #4285f4;
    --sidebar-link-hover: #1a5fcc;

    --back-btn-bg: #2a7ae2;
    --back-btn-hover-bg: #1a5fcc;
    --back-btn-font-color: #f0f0f0;
    --back-btn-hover-font-color: #bcbcbccc;

    --more-btn-bg: #2a7ae2;
    --more-btn-hover-bg: #1a5fcc;
    --more-btn-font-color: #f0f0f0;
    --more-btn-hover-font-color: #bcbcbccc;

    --project-link-bg: #f0f0f0;
    --project-link-hover-bg: #bcbcbccc;
    --project-link-font-color: #2a7ae2;
    --project-link-hover-font-color: #1a5fcc;
}

html[data-theme="white"],
html[data-theme="white"] body {
    background: #fafafa;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}