/* 纯白色主题 */
:root {
    --color-text:         #333;
    --color-text-muted:   #666;
    --color-link:         #2a7ae2;
    --color-link-hover:   #1a5fcc;
    --color-heading:      #111;
    --color-card-title:   #2a7ae2;
    
    --color-footer:       #030d76;
    --footer-link-hover:  #3b82f6;
    --footer-quote:       #030d76;

    --navbar-bg:          linear-gradient(to right, #621EC3, #2D21E4);
    --navbar-font-color:  white;

    /* --sidebar-interest:   #2a9d8f;  */
    --sidebar-interest:   #ffd634; 
    --sidebar-location:   #e63946;
    --sidebar-university: #6a4c93;
    --sidebar-email:      #f4a261;
    --sidebar-github:     #333;
    --sidebar-google-scholar: #4285f4;
    --sidebar-link-hover: #1a5fcc;
}

html, body {
    background: #fafafa;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}