/* content */

.content{
    flex: 1;
    max-width: 800px;
    padding: 40px;
    margin-left: 50px;

    overflow-y: auto;  /* 独立滚动 */
}

.content::-webkit-scrollbar{ 
    width:6px;
}

.content h2{
    margin-top: 40px;
    font-size: 26px;
}
.content ul{
    margin-top: 10px;
}
