/* image bar */

.image-bar {
    width: 100%;
    height: 250px;
    background: #f0f0f0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    flex-shrink: 0;  /* image-bar 不缩放 */
    margin-bottom: 20px;  /* 与内容之间的间距 */
    padding-top: 10px; /* 上边距 */
}

.image-carousel {
    display: flex;
    height: 100%;
    width: 80%;
    /* JS 控制动画 */
}

.image-carousel img {
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
}

