/* the top navigation  */

.navbar{
    background: var(--navbar-bg);
    color: var(--navbar-font-color);
    font-size: 20px;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 40px;
}

.navbar a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav-left .chinese-name {
    font-size: 23px;
}

/* 当navbar的按键被按下时的响应：加下划线 */
.navbar a:hover{ 
    text-decoration: underline;
}
